{% extends "base_user.html" %}
{% load static %}

{% block content %}
<div class="main-content">
    <section class="section">
        <div class="section-body">

          <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header d-flex justify-content-between align-items-center">
                            <h4 class="mb-0">Daftar Panitia</h4>
                            <a href="{% url 'panitia_add' %}" class="btn btn-primary">Tambah Panitia</a>
                        </div>
                        {% if messages %}
                        <ul class="messages">
                            {% for message in messages %}
                                <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>
                                    {{ message }}
                                </li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                        
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-responsive-sm table-hover" id="table-1">
                                    <thead>
                                        <tr>
                                          <th class="text-center">NO</th>
                                          <th>Nama Pengguna</th>
                                          <th>Username</th>
                                          <th>Alamat</th>
                                          <th>Mapel Satu</th>
                                          <th>Mapel Kedua</th> 
                                          <th>No HP</th>
                                          <th>Email</th>
                                          <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for row in panitia %}
                                        <tr>
                                          <td>{{ forloop.counter }}</td>
                                          <td>{{ row.nama_pengguna }}</td>
                                          <td>{{ row.user.username }}</td>
                                          <td>{{ row.alamat }}</td>
                                          <td>{{ row.mapel1.nama_mapel }}</td>
                                          <td>{% if row.mapel2 %}{{ row.mapel2.nama_mapel }}{% else %}-{% endif %}</td> 
                                          <td>{{ row.no_hp }}</td>
                                          <td>{{ row.email }}</td>
                                          <td>
                                              <a href="{% url 'panitia_edit' row.id %}" class="btn btn-warning">Edit</a>
                                              <a href="{% url 'panitia_delete' row.id %}" class="btn btn-danger">Delete</a>

                                              <form action="{% url 'reset_password' row.user.id %}" method="post">
                                                {% csrf_token %}
                                                <button type="submit" class="btn btn-success">Reset Password</button>
                                              </form>

                                          </td>
                                        </tr>
                                        {%empty%}
                                        <tr>
                                          <td colspan="7" align="center">Data Kosong</td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="row">
          <div class="col-12">
              <div class="card">
                  <div class="card-header d-flex justify-content-between align-items-center">
                      <h4 class="mb-0">Daftar Guru</h4>
                      <a href="{% url 'guru_add' %}" class="btn btn-primary">Tambah Guru</a>
                  </div>
                  <div class="card-body">
                      <div class="table-responsive">
                          <table class="table table-responsive-sm table-hover" id="table-1">
                              <thead>
                                  <tr>
                                      <th class="text-center">NO</th>
                                      <th>Nama Pengguna</th>
                                      <th>Username</th>
                                      <th>Alamat</th>
                                      <th>Mapel</th>
                                      <th>Mapel Kedua</th>
                                      <th>No HP</th>
                                      <th>Email</th>
                                      <th>Action</th>
                                  </tr>
                              </thead>
                              <tbody>
                                  {% for row in guru %}
                                  <tr>
                                      <td>{{ forloop.counter }}</td>
                                      <td>{{ row.nama_pengguna }}</td>
                                      <td>{{ row.user.username }}</td>
                                      <td>{{ row.alamat }}</td>
                                      <td>{{ row.mapel1.nama_mapel }}</td>
                                      <td>{% if row.mapel2 %}{{ row.mapel2.nama_mapel }}{% else %}-{% endif %}</td>
                                      <td>{{ row.no_hp }}</td>
                                      <td>{{ row.email }}</td>
                                      <td>
                                        <a href="{% url 'guru_edit' row.id %}" class="btn btn-warning">Edit</a>
                                        <a href="{% url 'guru_delete' row.id %}" class="btn btn-danger">Delete</a>

                                        <form action="{% url 'reset_password' row.user.id %}" method="post">
                                          {% csrf_token %}
                                          <button type="submit" class="btn btn-success">Reset Password</button>
                                        </form>
                                        
                                      </td>
                                  </tr>
                                  {%empty%}<tr><td colspan="7" align="center">Data Kosong</td></tr>{% endfor %}
                              </tbody>
                          </table>
                      </div>
                  </div>
              </div>
          </div>
      </div>
    </section>
</div>
{% endblock %}

 

