<!-- panitia/templates/panitia/jadwal_confirm_delete.html -->
{% extends 'base_user.html' %}

{% block content %}
<div class="main-content  ">
  <div class="card">
    <div class="card-header">
      <h1>Hapus Jadwal Jaga</h1>
    </div>
    <div class="card-body">
      <p>Anda yakin ingin menghapus jadwal ujian tanggal <b>{{ jadwal.tanggal }}</b>?</p>
      <form method="post">
        {% csrf_token %}
        <div class="form-group">
        <button type="submit" class="btn btn-danger">Ya, hapus</button>
        <a href="{% url 'jadwal_jaga' %}" class="btn btn-success">Tidak, kembali ke daftar</a>
        </div>
      </form>
    </div>
  </div>
</div>

{% endblock %}
