{% extends 'base_user.html' %}
{% load static %}

{% block content %}
    <div class="main-content">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header">
                        <h1>Hapus Mapel</h1>
                    </div>
                    <div class="card-body">
                        <p>Apakah Anda Ingin Menghapus Mapel <strong>{{ mapel.nama_mapel }}</strong>?</p>
                        <form method="post">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-danger">Ya, Hapus</button>
                            <a href="{% url 'mapel_list' %}" class="btn btn-secondary">Cancel</a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
